<body style="background-image:none;background: linear-gradient(#bdc3c7, #2c3e50); background-size: 200%; background-repeat: no-repeat;">

<h1>Artists</h1>
<% for artist in @artists %>
<table class = "artist_table">
<tr>
  <th>Name</th>
  <th>Nationality</th>
  <th>Craft</th>
</tr>
<tr>
    <td><a href="/artists/<%=artist.id%>"><%= artist.name%></a></td>
    <td><%= artist.nationality%></td>
    <td><%= artist.craft%></td>
  </tr>
</table>


<a href="/artists/edit/<%=artist.id%>" class="artist-link">Edit Artists details</a>


<form method="post" action="/artists/delete/<%=artist.id%>">
  <input type="submit" value="Delete this Artist"/>
</form>
<%end%>

<a href="/newartist" class="artist-link">Add a new artist</a>
